
body{
    margin: 0;
}

/* Header CSS starts */

.header{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.left-header{
    display: flex;
    flex: 1;
    padding: 10px 61px;
    font-size: 44px;
    font-weight: 800;
    font-family: "Rubik Bubbles", serif;
    font-weight: 400;
    font-style: normal; 
    color: pink;
    word-spacing: 50px;
}

.right-header{
    text-decoration: none;
    text-decoration-color: white;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px 61px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

/* Header CSS ends */


/* Website Info CSS starts */

.Join-us {
  background: #3882F6;
  border: 1px solid #3882F6;
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 22px 35px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  margin-bottom: 35px;
}

.Join-us:hover,
.Join-us:active {
  background-color: initial;
  background-position: 0 0;
  color: #3882F6;
}

.Join-us:active {
  opacity: 0.3;
}

.website-info{
    background-color: #1F2937;
    display: flex;
}

h1{
    color: white;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1px;
    margin-top: 40px;
    font-weight: 900;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
}

.right-info{
    margin-top: 20px;
    padding: 0px 100px;
}

.left-info{
    padding: 0px 61px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.info-paragraph{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 30px;
    word-spacing: 1px;
    letter-spacing: 2px;
}
/* Website info Css ends */


/* Cats info section starts */

.cat-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.cat-info .image-placeholder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 75px 200px;
    gap: 16px;
}


.cat-1,.cat-2,.cat-3,.cat-4 {
    display: flex;
    flex-shrink: 1;
    width: 250px; 
    height: 250px; 
    border: 2px solid pink; 
    border-radius: 12px; 
    display: inline-block; 
    margin-bottom: 10px;
}

.cat-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    font-style: normal;
    margin-top: 50px;
}

.cat-subtext{
    display: flex;
    flex-wrap: wrap;
    color: #5a5a5a;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

/* Cat info CSS ends */

/* Cat quote CSS starts */

.cat-quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB; 
    text-align: center; 
    height: 300px;
    width: auto; 
  }
  
  .quote {
    margin-top: 50px;
    font-family: "Roboto", sans-serif; 
    font-style: italic;
    font-size: 36px; 
    color: #4B5563; 
    margin-bottom: 10px; 
  }
  
  a.quote-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
    font-size: 28px; 
    color: #1F2937;

  }

/* Cat quote ends */

/* Footer css starts */

a.footer-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 300; 
    font-size: 18px; 
    
}


/* footer css ends */
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

